<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--name属性跟id属性是差不多的,区别是name可以填写多个值-->
       <bean name="workdaoname" id="workdao" class="springbase.ioc.beans.WorkDao"></bean>

</beans>